@model ZayShop.Models.Shop.ShopListViewModel
@{
    ViewBag.Title = "Shop Index";
}

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categories</h1>
            <ul class="list-unstyled">
                @foreach (var category in Model.SideMenuCategories)
                {
                    <li class="pb-3">
                        <a class="h3 text-decoration-none" href="@Url.Action("Index", "Shop", new { @category=category.Url })">
                            @category.Title
                        </a>
                    </li>
                }
                @*<li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Gender
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Men</a></li>
                            <li><a class="text-decoration-none" href="#">Women</a></li>
                        </ul>
                    </li>*@
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        @foreach (var brand in Model.SideMenuBrands)
                        {
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="@Url.Action("Index","Shop",new {@brand=brand.Url})">@brand.Title</a>
                            </li>
                        }
                        @*<li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>*@
                    </ul>
                </div>
            </div>
            <div class="row g-3 mb-0">
                @foreach (var p in Model.ProductList.Items)
                {
                    <div class="col-md-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="@p.FeaturedImage">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="@Url.Action("ProductDetail","Shop",new {product=p.DetailUrl})"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="@Url.Action("ProductDetail","Shop",new {product=p.DetailUrl})"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="@Url.Action("ProductDetail","Shop",new {product=p.DetailUrl})"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a class="fs-5 text-decoration-none fw-bold" href="@Url.Action("Index","Shop",new {@brand=p.BrandUrl})">@p.Brand</a>
                                <a class="fs-5 text-decoration-none" href="@Url.Action("ProductDetail","Shop",new {product=p.DetailUrl})">@p.Title</a>
                            </div>
                            <div class="card-footer">
                                <div class="row g-0">
                                    <div class="col-auto text-start">
                                        @if (p.DiscountedPrice > 0)
                                        {
                                            <sub class="text-danger text-decoration-line-through fs-6">$@p.Price.ToString("0.00")</sub>
                                            <br />
                                            <span class="text-success fs-6">$@p.DiscountedPrice.ToString("0.00")</span>

                                        }
                                        else
                                        {
                                            <span class="text-success fs-6">$@p.Price.ToString("0.00")</span>
                                        }
                                    </div>
                                    <div class="col d-flex align-items-center justify-content-end">
                                        <a href="@p.CategoryUrl" class="text-muted text-end text-decoration-none fw-bold float-end fs-6 fw-bold">
                                            @p.Category
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                }
                @*<div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/shop_01.jpg">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Oupidatat non</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">$250.00</p>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div div="row">
                <ul class="pagination pagination-lg justify-content-center">
                    @for (int i = Model.ProductList.StartPage; i <= Model.ProductList.EndPage; i++)
                    {
                        if (i == Model.ProductList.CurrentPage)
                        {
                            <li class="page-item disabled">
                                @Html.ActionLink(i.ToString(), "Index", "Shop", new { @page = i, @category = Model.CategoryFilter, @brand = Model.BrandFilter }, new { @class = "page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" })
                                @*<a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">@i</a>*@
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(i.ToString(), "Index", "Shop", new { @page = i, @category = Model.CategoryFilter, @brand = Model.BrandFilter }, new { @class = "page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" })
                                @*<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">@i</a>*@
                            </li>

                        }
                    }
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Brands</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->
